*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container
{
    height:100vh ;
    width: 100%;
    padding: 10px;
    background: linear-gradient(130deg, #fdfdfd, #706868, #161616);

    
}
.todo_app h1{
    margin-bottom: 20px;
    align-items: center;
    display: flex;

}



.row{
    align-items: center;
    display: flex;
    border-radius: 20px;
    justify-content: space-between;
    background: #eae3e3;
    margin-bottom: 25px;
    padding-left: 20px;
}


ul li
{
    
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    list-style: none;
    position: relative;
    cursor: pointer;
    padding: 10px 8px 12px 60px;
    user-select: none;
}

ul li::before{
    position: absolute;
    height: 28px;
    width: 28px;
    content: '';
    border: 1px solid white;
    border-radius: 50%;
    top: 8px;
    left: 8px;
    background-position: center;
    background-image: url(unchecked.png);
    background-size: cover;
}

ul li.Checked::before{
    background-image: url(check.png);

}

ul li.Checked{
    color: #ffffff;
    text-decoration: line-through;

}

.todo_app{
    width: 100%;
    max-width: 700px;
    background: #e79d3c;
    margin: 100px auto 20px;
    border-radius: 10px;
    padding: 40px 30px 70px ;
}

ul li span{
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 22px;
    position: absolute;
    height: 40px;
    width: 40px;
    right: 0;
    top: 5px;
    text-align: center;
    line-height: 40px;
}

ul li span:hover{
    background: #5a1c63;
}

input{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 15px;
    border: none;
    font-size: 25px;
    flex: 1;
    outline: none;
    background: transparent;
    padding: 10px;
}

button{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 23px;
    border: black;
    outline: black;
    cursor: pointer;
    padding: 16px 50px;
    color: rgb(255, 255, 255);
    background: #0c0b0b;
}